# Project exclude paths
/out/
/target/
/src/main/resources/opentelemetry-javaagent-all.jar
/opentelemetry-javaagent-all.jar
/static-instrumentation.jar
/run.sh
/instrumentation/src/main/resources/opentelemetry-javaagent-all.jar
